services:
  backend-prd:
    build:
      context: src/backend
      dockerfile: ../../container/backend.dockerfile
    ports:
      - "8080:8080"
    environment:
      - env=prd
      - R2_ACCOUNT_ID=${R2_ACCOUNT_ID}
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}

  frontend-prd:
    build:
      context: src/frontend
      dockerfile: ../../container/frontend.dockerfile
    ports:
      - "80:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - BACKEND_URL="http://backend-prd:8080"
      - HOST="http://localhost"
    depends_on:
      - backend-prd
